body {
   width: 100%;
   height: 100%;
   text-align: center;
   font-family: $sec;
   font-size: 22px;
   background-color: $yellow;
   color: $red;
}

#container {
   max-width: 22rem;
   width: 100%;
   padding: 2rem;
   float: none;
   h1, h2, h3, h4 {
      font-family: $main;
      color: $red;
      text-align: left;
   }
   h3 {
      font-size: 35px;
   }

   header, section {
      text-align: left;
   }

   p {
      font-size: 22px;
      font-weight: bold;
      font-family: $gothan-light;
   }

   li {
      font-size: 14px;
      color: #666;
   }

   label {
      font-size: 22px;
      text-align: left;
      color: $red;
      font-family: $sec;
   }

   strong {
      font-family: $main;
   }

   button, input[type="submit"] {
      width: auto;
      padding: 1rem 2.2rem;
      font-family: $main;
      color: $yellow;
      background-color: $red;
      opacity: .8;
      cursor: pointer;
      transition: .2s;
      font-size: 22px;
      display: block;
      margin: 1rem 0;
   }

   button:hover {
      opacity: 1;
   }


   select, input {
      background-color: transparent;
      font-family: $sec;
      font-size: 22px;
      border-top-width: 0px;
      border-left-width: 0px;
      border-right: 1px solid $red;
      border-bottom: 1px solid $red;
      padding: 15px 15px 15px 0;
      overflow: hidden;
      outline: none;
      color: $red;
      height: auto;
      box-shadow: none;
      float: left;
   }

   input[type="checkbox"] {
      display: none;
      +label {
         margin-bottom: 1rem;
         margin-left: 0;
         font-size: 14px;
         width: 3rem;
         text-align: center;
         &:before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            border : 2px solid $red;
            border-radius : 30px;
            background-color: transparent;
            box-shadow: none;
            margin: 0 auto;
         }
      }
      &:checked {
         +label {
            &:before {
              background-color: $red;
            }
         }
      }
   }

   #outros {
      margin-right: 0;
   }


   ::-webkit-input-placeholder {
      color: $red;
   }

   :-moz-placeholder {
      color: $red;
   }

   ::-moz-placeholder {
      color: $red;
   }

   :-ms-input-placeholder {  
      color: $red;
   }
}

footer {
   position: absolute;
   background-color: $yellow;
   text-align: left;
   padding: 0 2rem 2rem 2rem;
   display: none;
   p {
      margin: 0;
      padding: 0;
      color: $red;
   }
}