h1, h2, h3, h4 {
   font-family: $main;
   text-align: left;
}

header, section {
   text-align: left;
}

p {
   font-size: 22px;
   font-weight: bold;
   font-family: $gothan-light;
}

li {
   font-size: 14px;
   color: #666;
}

label {
   font-size: 22px;
   text-align: left;
   color: $red;
   font-family: $sec;
}

strong {
   font-family: $main;
}

button, input[type="submit"] {
   width: auto;
   padding: 1rem 2.2rem;
   font-family: $main;
   cursor: pointer;
   transition: .2s;
   font-size: 22px;
   display: block;
   margin: 1rem 0;
}

select, input[type="text"] {
   background-color: transparent;
   font-family: $sec;
   font-size: 22px;
   border-top-width: 0px;
   border-left-width: 0px;
   border-right: 1px solid;
   border-bottom: 1px solid;
   padding: 15px 15px 15px 0;
   overflow: hidden;
   outline: none;
   height: auto;
   box-shadow: none;
}

footer {
   position: absolute;
   background-color: $yellow;
   text-align: left;
   padding: 0 2rem 2rem 2rem;
   display: none;
   p {
      margin: 0;
      padding: 0;
      color: $red;
   }
}