body {
   width: 100%;
   height: 100%;
   text-align: center;
   font-family: $sec;
   font-size: 22px;
   background-color: $yellow;
}

#container {
   max-width: 1045px;
   width: 100%;
   margin: 40px auto;
   h1, h2, h3, h4 {
      font-family: $main;
      color: $red;
      text-align: left;
   }
   h3 {
      font-size: 35px;
   }

   header, section {
      text-align: left;
   }

   p {
      font-size: 22px;
      font-weight: bold;
      color: #666;
   }

   li {
      font-size: 14px;
      color: #666;
   }

   label {
      font-size: 22px;
      text-align: left;
      color: $red;
      font-family: $sec;
   }

   strong {
      font-family: $main;
   }

   button {
      width: 15rem;
      padding: 15px;
      font-family: $main;
      color: $yellow;
      background-color: $red;
      opacity: .8;
      cursor: pointer;
      transition: .2s;
      font-size: 22px;
      display: block;
      margin: 1rem auto;
   }

   button:hover {
      opacity: 1;
   }


   select, input {
      background-color: transparent;
      font-family: $sec;
      font-size: 22px;
      border-top-width: 0px;
      border-left-width: 0px;
      border-right: 1px solid $red;
      border-bottom: 1px solid $red;
      padding: 15px 15px 15px 0;
      overflow: hidden;
      outline: none;
      color: $red;
      height: auto;
      box-shadow: none;
   }

   input[type="checkbox"] {
      position: absolute;
      +label {
         margin-left: 0;
         margin-right: 1em;
         font-size: 14px;
         &:before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            border           : 2px solid $red;
            border-radius    : 30px;
            background-color: transparent;
            box-shadow: none;
            margin: 0 auto;
         }
      }
      &:checked {
         +label {
            &:before {
              background-color: $red;
            }
         }
      }
   }

   #outros {
      margin-right: 0;
   }


   ::-webkit-input-placeholder {
      color: $red;
   }

   :-moz-placeholder {
      color: $red;
   }

   ::-moz-placeholder {
      color: $red;
   }

   :-ms-input-placeholder {  
      color: $red;
   }
}

