// typography
$gothan: 'Gotham-Book', 'Helvetica Neue', Arial, sans-serif !default;
$gothan-light: 'Gotham-Light', 'Helvetica Neue', Arial, sans-serif !default;
$gothan-bold: 'Gotham-Bold', 'Helvetica Neue', Arial, sans-serif !default;
$gothan-medium: 'Gotham-Medium', 'Helvetica Neue', Arial, sans-serif !default;

$main: 'AGNext-Bold',  'Helvetica Neue', Arial, sans-serif !default;
$sec: 'AkzidenzGrotesk-LightOsF', 'Helvetica Neue', Arial, sans-serif !default;

// colors
$orange: #ff8a21 !default;
$green: #6ac250 !default;
$red: red !default;
$yellow: yellow !default;

$white: #ffffff !default;
$black: #000000 !default;

$light-gray: #f3f3f3 !default;
$gray: #ccc !default;
$dark-gray: #999 !default;
$darker-gray: #666 !default;

