.emails-filter {
   margin: 50px 0 30px 0;
   border-bottom: 1px solid $gray;
   padding-bottom: 30px;
   > div {
      display: inline-block;
   }
   .emails-filter-search {
      width : 77%;
      input {
         width: 713px;
         height: 26px;
         margin-right: 5px;
      }
      .email-clear-filters {
         position: absolute;
         font-size: 13px;
         padding: 7px 0;
         display: block;
         cursor: pointer;
      }
   }
   .emails-filter-today {
      width: 23%;
      text-align: right;
      font-size: 13px;
      input {
         margin-right: 5px;
      }
   }
}

.emails-list {
   .emails-total {
      padding-bottom: 30px;
      font-size: 26px;
   }
   .emails-list-row {
      background-color: $light-gray;
      .emails-list-column {
         display: inline-block;
         width: 44%;
         padding: 20px 0;
         &:first-child span{
            padding-left: 20px;
         }
         &:last-child {
            width: 12%;
            text-align: center;
         }
         i {
            display: none;
            font-size: 16px;
            margin-left: 5px;
            position: absolute;
         }
         &.order-asc, &.order-desc {
            border-bottom: 5px solid $dark-gray;
         }
         &.order-asc {
            i.fa-sort-down {
               display: inline-block;
               margin-top: -3px;
            } 
         }
         &.order-desc {
            i.fa-sort-up {
               margin-top: 3px;
               display: inline-block;
            } 
         }
      }
      &.emails-list-anchor {
         background-color: $black;
         color: $white;
         .emails-list-column {
            padding-bottom: 15px;
            cursor: pointer;
         }
      }
   }
   .emails-list-result {
      .emails-list-row {
         &:nth-child(2n) {
            background-color: $white;
         }
      }
   }
}