@font-face {
   font-family: 'Gotham-Medium';
   src: url('../../src/vendor/fonts/Gotham-Medium.otf');
}

@font-face {
   font-family: 'Gotham-Bold';
   src: url('../../src/vendor/fonts/Gotham-Bold.otf');
}

@font-face {
   font-family: 'Gotham-Light';
   src: url('../../src/vendor/fonts/Gotham-Light.otf');
}

@font-face {
   font-family: 'Gotham-Book';
   src: url('../../src/vendor/fonts/Gotham-Book.otf');
}

@font-face {
   font-family: 'AGNext-Bold';
   src: url('../../src/vendor/fonts/AGNextBold.otf');
}

@font-face {
   font-family: 'AkzidenzGrotesk-LightOsF';
   src: url('../../src/vendor/fonts/AkzidenzGrotesk-LightOsF.otf');
}